header
  section.hero.is-dark
    .hero-body
      .container
        h1.title LATE
        h2.subtitle Lazy Automatic Time Evaluator
    .hero-foot
      nav.tabs
        .container
          ul
            if loggedIn
              li
                a Logged in as&nbsp;#[b= user.display_name]
              li
                a(href='/logout') Logout
            else
              li
                a(href='/login') Not Logged In