doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    title #{title ? title + ' | ' : ''}LATE

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css')
    link(rel='stylesheet', href='css/styles.css')
  body
    include /includes/_header
    main
      .container
        .notification.is-danger
          b Warning
          |  This is the development server of LATE. Features are subject to change and bugs are possible.
      block content
    include /includes/_footer
