doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    title #{env == 'development' ? '[D] ': ''}#{title ? title + ' | ' : ''}LATE

    // Custom CSS
    link(rel='stylesheet', href='/css/styles.css')

    // Font Awesome 5
    script(defer, src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  body
    include /includes/_header
    main
      block content
    include /includes/_footer
