extends /template

block content
  section.section
    .container
      h1.title Account Setup

      nav.breadcrumb
        ul
          li
            a(href='/setup/personal')
              span Personal Info
              span.icon.is-small
                if user.setup.personal_info
                  i.fas.fa-check
                else
                  i.fas.fa-times
          li
            a(href='/setup/RIN')
              span RIN
              span.icon.is-small
                if user.setup.RIN
                  i.fas.fa-check
                else
                  i.fas.fa-times
          li.is-active
            a(href='/setup/course_schedule')
              span Course Schedule
              span.icon.is-small
                if user.setup.course_schedule
                  i.fas.fa-check
                else
                  i.fas.fa-times
          li
            a(href='/setup/work_schedule')
              span Work Schedule
              span.icon.is-small
                if user.setup.work_schedule
                  i.fas.fa-check
                else
                  i.fas.fa-times

      block setup