extends /template

block content
  section.section
    .container
      h1.title New Assignment

      form.form(method='POST', action='/assignments/new')
        .field
          label.label(for='courseId') Course
          .control
            select.input#courseId(name='course_id')
              option No courses found.

        .field
          label.label(for='title') Title
          .control
            input.input#title(name='title', type='text' placeholder='This is the title of the assignment. Keep it concise.', maxlength=200)
        
        .field
          label.label(for='description') Description
          .control
            textarea.input#description(name='description', placeholder='Description of the assignment.', maxlength=4000)

        .field
          label.label(for='dueDate') Due
          .control
            input.input#dueDate(name='due_date', type='date', min=moment().subtract(1, 'day').format('YYYY-MM-DD'), max=moment().add(1, 'year').format('YYYY-MM-DD'))
        
        .field
          label.label(for='timeEstimate') Time Estimate
          p.help How many hours do you think this will take you?
          .control
            input.input#timeEstimate(name='time_estimate', type='number', min=0)
        
        .field
          label.label(for='priority') Priority
          .control
            // TODO: label low, medium, high
            input.input#priority(name='priority', type='range', min=0, max=10, step=1)
        
        button.button.is-primary(type='submit') Add
