extends /template

block content
  header
    h1 About LATE
  
  main
    #goal
      h3 The Goal
      p Coming soon...

    #team
      h3 The Team
      p Coming soon...

  footer
    i Coming soon...