extends /template

block content
  section.section
    .container
      #goal
        .content
          h1.title.is-4 The Goal
          p To provide the user with a clear list of all upcoming assignments and tests.
          p To automatically allocate free time in a user’s calendar to work on/study for assignments/tests.
          p To remind users to follow the allocated study/work times through means including notifications, text messages, etc.
          p To account for missing scheduled work by reallocating work times

    .container
      #team
        .content
          h1.title.is-4 The Team
            h4.subtitle Project Contributors
            p Frank Matranga Zach Love Joseph Cengel
            p Shweta Burgula Abigail Medina Kikola Sanusi
            p Seth Laurenceau Zachary Fernandez Tyler Machado
            p Ziyi Wang Seungwon Kim  Christie Nero
            p Bowen Wang




