extends /template

block content
  section.section
    .container
      #goal
        .content
          h1.title.is-4 The Goal
          p Lorem ipseum...
    .container
      #team
        .content
          h1.title.is-4 The Team
            h4.subtitle Project Contributors