#assignment-list {
  .assignments {
    .box.assignment {
      padding: 0.6rem;

      &.completed {
        .assignment-header {
          text-decoration: line-through;
        }
      }

      span.actions {
        cursor: pointer;
        display: none;

        .action {
          margin-left: 5px;
        }
      }

      &:hover {
        span.actions {
          display: initial;
        }
      }

      details .content blockquote {
        padding: 0.55em 0.4em;
      }
    }
  }
}
