// LATE dark color scheme (WIP)
$dark: #2e3b59;
$primary: #70cad1;
$body-color: white;

$body-background-color: #232931;

@import "~bulma";
//Main text
h1, h2, span, a, li, .tag, .fc-button, .title, .label, .tooltip { color: white; }
//Sidebar active icon
a:hover .fas, .is-active i { color: white; }
//Footer
.footer { background-color: #202531; }
//Sidebar
#sidebar .panel { background-color: #2e333f; }
#sidebar * {border-color: black; }
#sidebar .controls { background-color: #2e3b59!important; }