/*-------------------------------------------*/
/*             Dark theme
/*-------------------------------------------*/

.dark {

  //Global
  transition: 0.1s;
  color:rgb(161, 161, 161);
  background-color: #232931;
  .has-background-light {
    background-color: #293038!important;
  }

  //Links
  a,b,p { color: white; }
  //Modals
  .modal-card {
    .modal-card-title { color: white; }
    .modal-card-head,.modal-card-foot { background-color: #293038!important; }
    .modal-card-body,.modal-content {
      background-color: #232931!important;
      strong {
        color: white;
      }
      .button {
        background-color: #202531;;
      }
    }
  }
  //Main text
  h1, h2, span, a, li, .tag, .fc-button, .title, .label, .tooltip { color: white; }
  //Icons
  a:hover .fas, .is-active i { color: white; }
  //Buttons
  .button {
    background-color: #3b4552;
    color: white;
  }
  .button:hover {
    background-color: #435166;
  }
  //Tabs
  .tabs {
    .is-active a {
      color: #209cee!important;
      border-color: #209cee!important;
    }
    a:hover {
      color: rgb(138, 143, 182);
      border-color: rgb(138, 143, 182);
    }
  }
  //Inputs
  .input,select {
    color: white;
    background-color: #3b4552;
  }
  *::placeholder {
    border-color: #3b4552;
    color: white;
  }
  //Tables & Calendar
  table {
    thead *,tbody {
      color: white;
      background-color: #232931;
    }
    * {
      border-color: #3b4552;
    }
  }
  .fc-today:not(.fc-widget-header),.fc-today:not(.fc-widget-header) span,.fc-week-number {
    background-color: #3b4552!important;
    color: white!important;
  }

  //HEADER
  #header {
    .navbar-dropdown:not(:nth-child(1)), .navbar-dropdown .navbar-item {
      background-color: #293038;
      border-style: none;
    }
    .navbar-dropdown .navbar-item:hover {
      background-color: #3b4552;
      color: white;
    }
    //Mobile
    @media screen and (max-width: 1023px) {
      .navbar-menu, .navbar-dropdown .is-active {
        background-color: #293038!important;
        color: white;
      }
      .navbar-item:hover,.is-active:hover,.navbar-link:hover {
        background-color: #3b4552;
        color: white;
      }
      
    }
  }

  //Footer
  .footer { background-color: #202531; }

  //Sidebar
  #sidebar .panel, #sidebar .panel-block{
    background-color: #232931!important;

    * {
      border-color: #3b4552;
      color: white;
    }

    .controls { background-color: #2e3b59!important; }

    .panel-heading, .button {
      background-color: #3b4552;
    }
    //Toggle Sidebar
    .local-toggle-sidebar {
      background-color: rgb(87, 91, 121);
    }

    //Header top panel
    .panel-tabs {
      a {
        color: rgb(161, 161, 161);
      }
      a.is-active {
        color: #4066a3;
        border-bottom: 1px solid rgb(255, 255, 255);
      }
      a:hover {
        border-bottom: 1px solid rgb(255, 255, 255);
      }
    }
    .passed {
      background-color: #2e333f;
    }

    .button:hover, .controls a:hover {
      background-color: #435166;
    }
  }

  //Tiles and cards
  .tile .is-child,.box,.card {
    transition: 0.1s;
    background-color: #3b4552;
    color: white;
  }
  //Tags & Block quotes
  .tag,.blockquote { background-color: #5f6a77; }

  //Color overrides
  .is-success {
    background-color:hsl(141, 42%, 44%);
  }
  .is-info {
    background-color: hsl(204, 55%, 38%);
  }
  .is-warning {
    background-color: hsl(71, 34%, 49%);
  }
  .is-danger {
    background-color: hsl(348, 52%, 35%);
  }

}